

h3{
    line-height: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}
.layout{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.list_ul{
     float:left;
     width: 800px;
     height: 50px;
     border-bottom: 1px solid #ccc;
}
.list_ul li {
    float: left;
    width: 200px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.list_ul li.action{
    background: #ccc;
}
.content{
    float: left;
    width: 800px;
    height: auto;
     border-top: 1px solod #000;
}
.box{
    padding: 15px;
    line-height: 50px;
    display: none;
}













